<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="book_meeting@yourwebsite.undefined" name="book_meeting" createdate="2013-03-11">
        <version date="2013-03-11">0.1pre</version>
        <label lang="fr_FR">book_meeting</label>
        <description lang="fr_FR" />
        <license URL="">All rights reserved</license>
        <copyright>2013 Book Meeting</copyright>
        <creator name="Priscille Quistin" email="quistin.p@gmail.com" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://www.yourwebsite.undefined</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.5.0" maxversion="1.5.*"/>
    </dependencies>
</module>
